@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #c36541;
}

.card {
  margin: auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  box-shadow: 0 10px 32px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 100%;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.fonts {
  font-family: 'Heebo' sans-serif;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

button {
  left: 0;
  right: 0;
}

.anima:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1080px) {
  .card {
    width: 100%;
  }

  .jornadas {
    display: inline-block;
    zoom: 50%;
  }
}